
.vs/Gelios_2D/v16/

*.pdb

*.tlog

*.obj

*.idb

*.log

*.exe

*.ilk

Debug/Gelios_2D.vcxproj.FileListAbsolute.txt

*.filters

*.vcxproj

*.user

*.sln

Debug/setka.obj.enc

rnd_Dima.dat

nohup.out.filepart

nohup.out

Debug/gelios_2d.obj.enc

Dist_f.rar

script_1.sbatch

*.bin

Gelios_2D/.vs/CopilotSnapshots/45F3B194512F7D4482F06B9214F5286D/

Gelios_2D/.vs/Gelios_2D/copilot-chat/d12476bc/sessions/

*.db

*.db-shm

*.db-wal

Gelios_2D/.vs/Gelios_2D/FileContentIndex/

Gelios_2D/.vs/Gelios_2D/v17/

*.txt
